*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #3b6886;
    
}
nav{
    background-color: rgb(110, 197, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 107px 0px 150px;
   position: fixed;
   width: 80%;
   
}
.header{
 background-color:#056470;
 background-image: url('img/header_bg.png');
 background-repeat: no-repeat;
 margin-bottom: 0;
 background-position: bottom right;


}
.dev{
   width:4%;
  padding-bottom: 40px;
 
   
}
.nav-title{
color: floralwhite;
font-size: x-large;
}

.nav-text{
    color: orange;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style:none ;
    margin: 20px;
    align-items: center;
    
}

nav li a{
    text-decoration: none;
    color: floralwhite;
 
}
nav li a:hover{
    color: bisque;
}

.btn-1{
     background: orange;
     border-radius: 5px;
     color: black;
     padding: 10px 20px;
     cursor: pointer;
     margin-right: 10px;
}

.btn-1:hover{
    background-color: aliceblue;
    transition-duration: .03s;
}


.banner{
    display: flex;
    padding: 150px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
    margin-top: -8px;
  
}
.banner-text{
   max-width: 500px; 

}
.banner .profile{
    width: 400px;
}


.banner-1{
    color: aliceblue;
    
}

.banner-2{
    font-weight: 700;
    color: aliceblue;

}
#myself{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-2{
    background: orange;
    border-radius: 5px;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
}

.btn-2:hover{
   background-color: aliceblue;
   transition-duration: .03s;
}
main{
    max-width: 1100px;
     margin: auto;
}

.about-heading{
    text-align: center;
    border: 2px solid rgb(92, 83, 83);
    background-color: rgb(247, 211, 198);
    margin-top: 100px;
}
.about-title{
    margin-top: 40px;
    color: rgb(255, 0, 0);
}
.about-description{
 margin:0 200px 20px;
 color: rgb(7, 7, 7);
}

.about-address{
    display: flex;
  justify-content: center;
}

.about-info{
    margin-right: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}


.about-title-1{
 margin-bottom: 0;
}




.section-title{
    text-align: center;
    padding: 0% 100px;
    color:floralwhite;
    margin-top: 100px;
    font-size: 18px;
}



.skill-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.skill{
    border: 1px solid floralwhite;

    text-align: inline;
    padding: 30px 50px 30px;
    background-color: rgb(185, 138, 121);
    margin-top: 60px;
    color: aliceblue;

}
#images{
    width: 25%;
    margin-top: 20px;
}



.resume-head{
    text-align: center;
    margin-top: 100px;
    color:orange;
    text-decoration: underline;
}


.section-resume{
 display: flex;

   
}

.resume{
    margin: auto;
    margin-right:20px;
    margin-top: 50px;
    color: floralwhite;
}

.resume-h4{
    margin-bottom:-3%;
}


.resume-btn{
    background: orange;
    border-radius: 5px;
    color: floralwhite;
    padding: 10px 20px;
    cursor: pointer;
  
    margin-top: 30px
}
hr{
    color: aliceblue;
}

.btn-dowload{
    text-align: center;
}


footer{
    display: flex;
    justify-content: center;
    background-color: #056470;
    margin-top: 100px;
 

}

.footer-head{
  padding: 50px 60px ;     
  /* margin-right:50px; */
 
  color: floralwhite;
   
}

.footer-ending{
   margin-top: 2px;
   background-color: black;
   color: floralwhite;
}