nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    padding: 30px 30px 0px 50px;
}
.header{
    background-color: rgb(22, 36, 36);
}
.nav-title{
color: floralwhite;
font-size: x-large;
}

.nav-text{
    color: orange;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style:none ;
    margin: 20px;
    align-items: center;
    
}

nav li a{
    text-decoration: none;
    color: floralwhite;
 
}

.btn-1{
     background: orange;
     border-radius: 5px;
     color: floralwhite;
     padding: 10px 20px;
     cursor: pointer;
     margin-right: 10px;
}



.banner{
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}
.banner-text{
   max-width: 500px; 

}
.banner .profile{
    width: 400px;
}


.banner-1{
    color: aliceblue;
    margin-bottom: 0;
}

.banner-2{
    font-weight: 700;
    color: aliceblue;
    margin-top: 5px;
    margin-bottom: 20px;
}

main{
    max-width: 1100px;
     margin: auto;
}

.about-heading{
    text-align: center;
    border: 2px solid orangered;
    background-color: orangered;
    margin: 20px;
}
.about-title{
    margin-top: 40px;
    color: white;
}
.about-description{
 margin:0 200px 20px;
 color: floralwhite;
}

.about-address{
    display: flex;
  justify-content: center;
}

.about-info{
    margin-right: 40px;
    text-align: center;
    color: aliceblue;
    margin-bottom: 40px;
}


.about-title-1{
 margin-bottom: 0;
}

.about-description-1{
   
}


.section-title{
    text-align: center;
    margin-top: 150px;
    padding: 0% 100px;
}



.skill-container{
    display: flex;
}